<ion-content class="padding">

  <h1 class="ion-text-center" style="font-size: 152px;">
    <ion-icon name="person-outline"></ion-icon>
  </h1>

  <p class="ion-text-center ion-padding">
    Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
  </p>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="full" type="button" (click)="goto('register')">Register</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="full" type="button" (click)="goto('login')">Login</ion-button>
        </ion-col>
      </ion-row>
  </ion-grid>

</ion-content>